<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>系统登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/style/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: "Microsoft YaHei", "Verdana", "Lucida Sans Unicode", sans-serif !important padding-top : 40 px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 300px;
            padding: 19px 29px 50px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        }

        .form-signin .form-signin-heading,
        .form-signin {
            margin-bottom: 10px;
        }

        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }

    </style>
    <link href="/static/style/bootstrap-responsive.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="/static/img/favicon.ico">
</head>

<body>

<div class="container" style="margin-top:120px;">

    <form class="form-signin" method="POST">
        <h2 class="form-signin-heading">系统登录</h2>
        {% if handler.has_flashed_messages() %}
        <div class="alert alert-error">
            <ul>
                {% for msg,category in handler.get_flashed_messages() %}
                <li>{{ msg }}</li>
                {% end %}
            </ul>
        </div>
        {% end %}
        <input type="text" id="{% raw form.uid.id %}" name="{% raw form.uid.name %}" class="input-block-level" placeholder="{% raw form.uid.label.text %}">
        <input type="password" id="{% raw form.pwd.id %}" name="{% raw form.pwd.name %}" class="input-block-level" placeholder="{% raw form.pwd.label.text %}">
        {% raw xsrf_form_html() %}
        <button class="btn btn-large btn-primary" type="submit">登录</button>
    </form>
</div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/html5shiv.js"></script>
</body>
</html>