{% if handler.get_flashed_messages() %}
<div class="alert alert-error">
    <ul>
        {% for msg,category in handler.get_flashed_messages() %}
        <li>{{ msg }}</li>
        {% end %}
    </ul>
</div>
{% end %}
{% for field in form %}
        <input class="input-block-level" type="{% raw field.type %}" id="{% raw field.id %}" name="{% raw field.name %}" placeholder="{% raw field.label.text %}"/>
{% end %}

{% raw xsrf_form_html() %}